.pricelist {
    max-width: 96%;
    margin: 0 auto 50px;
}

.pricelist__row {
    padding: 8px 16px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-radius: 5px;
    margin: 8px 0;
    transition-duration: 0.1s;
}

.pricelist__row:hover {
    box-shadow: 2px -1px 17px 0px rgba(222,228,234,1);
    color: #333;
    transform: scale(1.01);
}

.pricelist__row:hover .pricelist__more {
    display: block;
}

.pricelist__title {
    padding-left: 10px;
    display: flex;  
    align-items: center;
    flex: 3 1 100px;
}

.pricelist__name {
}

.pricelist__icon {
}

.pricelist__icon svg {
    width: 90px;
    height: 78px;
}

.pricelist__sum {
    flex: 2 1 50px;
}

.pricelist__time {
    flex: 1 1 50px;
}

.pricelist__hits {
    display: none;
    color: #888;
}

@media screen and (max-width: 640px){
    .pricelist {
        max-width: 100%;
        margin: 0 auto 50px;
    }
    .pricelist__row {
        padding: 8px;
        justify-content: unset;
        flex-wrap: wrap;
        box-shadow: 0px 0px 9px 0px rgba(222,228,234,1);
    }

    .pricelist__title {
        padding-left: 0;
        flex: unset;
        width: 100%;
    }

    .pricelist__name {

    }

    .pricelist__icon {

    }

    .pricelist__icon svg {
        width: 40px;
        height: 34px;
    }

    .pricelist__sum {
        flex: 1 1 120px;
    }

    .pricelist__time {
        flex: 2 1 90px;
    }

    .pricelist__hits {
        display: inline;
    }
}